<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean id="c1" class="java.lang.Class" factory-method="forName">
	<constructor-arg value="java.util.Date"></constructor-arg>	

	</bean>
	<bean id="cal" class="java.util.Calendar" factory-method="getInstance">
	</bean>
	
	<bean id="dm" class="java.sql.DriverManager" factory-method="getConnection">
		<constructor-arg value ="jdbc:oracle:thin:@localhost:1521:xe"/>
		<constructor-arg value ="system"></constructor-arg>
		<constructor-arg value ="root"></constructor-arg>
	</bean>
	
	<bean id="s1" class="java.lang.String">
		<constructor-arg value="welcom"></constructor-arg>
	</bean>
	
	<bean id="s2" factory-bean="s1" factory-method="concat">
		<constructor-arg value=" to india"></constructor-arg>
	</bean>
	
	<bean id="sb" class="java.lang.StringBuffer">
		<constructor-arg value="today is great day"></constructor-arg>
	</bean>
	
	<bean id="s3" factory-bean="sb" factory-method="substring">
		<constructor-arg value="0"></constructor-arg>
		<constructor-arg value="7"></constructor-arg>
		
	</bean>
		
		
	
</beans>